<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="debugmode" value="true" />
		<add key="ignoretypes" value="internal_hdd,cd_rom,sd_card" />
		<add key="imageextensions" value=".jpg,.jpeg,.png"/>
		<add key="preset_phone" value="" />
		<add key="mobile_photo" value="" />
		<add key="mobile_whatsapp" value=""/>
	    <add key="savelocation" value="" />
		<add key="preview_url" value="full-path-to-preview.html"/>
    </appSettings>
</configuration>